* { 
    padding: 0;
    margin: 0;
}

html {scroll-behavior: smooth;}


#mainheader { 
              text-align: center;
              font-size: 60px;
              color: wheat;
              font-family: 'Merriweather', serif;
              

}

#background { 
              width: 100vw;
              height: 100vh;
              position: fixed;
              filter: brightness(40%); 
              z-index: -1000;
}

ul { 
      font-size: 17px;
      color: wheat;
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      font-family: 'Merriweather', serif;
      
  
}

ul li a { color: wheat;
          text-decoration: none;
}

li{transition:0.5s}

li:hover{font-size: 45px ;}

#openinig { 
            display: flex;
            justify-content: center;
            color: wheat;
            font-size: 20px;
            margin-top: 50px;
            
}

#Y2cheader {font-family: 'Merriweather', serif; }

#Y2sec {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;
            margin-left: 2%;
                         
}

.Y2article {
             width: 93%;
             border: wheat solid 1px;
             border-radius: 10px;
             padding: 1%;   
             transition : border 0.3s ;         
}

.Y2article:hover{border:solid wheat 5px;}

article h1 { 
             color: wheat;
             font-size: 22px;
             text-align: center;
             font-family: 'Merriweather', serif;
             
}

article  p { 
             font-size: 17px;
             color: wheat;  
             width: 100%;                 
} 

#Optionsheader { font-size: 46px;
                color: wheat;
                text-align: center;
                margin-top: 50px;
                font-family: 'Merriweather', serif;
}

#Options { 
           width: 100%;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           margin-top: 3%;
           margin-left: 1%;
}

#Optionsarticle { 
                 width: 100%;
                 margin-right: 23%;    
        
}

#Optionsarticle .Optionsparas a {
                                  text-decoration: none;
                                  color:whitesmoke;
}

#Optionsimg { width: 40%;
               height: 40%;
               margin-right: 20%;
               animation-name: rollingcoin;
               animation-duration: 5s;
               animation-iteration-count: infinite;
               margin-left: 26%;
               margin-top: 4%;
               
}

@keyframes rollingcoin {
        0% {transform:rotateY (0deg);}
        100%{transform:rotateY(360deg);}
}

.article2paras{ font-size: 17px;}

#Mainoptions { 
                 width: 100%;
                 display: flex;
                 flex-direction: column;
                 margin-left: 3%;
                 margin-top: 4%;
                 justify-content: space-evenly;

}

.Mainoptionsarticles { 
                        width: 92%;
                        border: wheat solid 1px;
                        border-radius: 10px;
                        padding: 1%;   
                        transition: border 0.3s;
                              
}

.Mainoptionsarticles:hover{border: solid wheat 5px;}


.Mainoptionsarticles p { 
                          font-size: 22px;
                          color: wheat;  
                          width: 100%;                
}  

#Registeryheader {
                   text-align: center;
                   font-size: 32px;
                   margin-top: 2%;
                   color: wheat;
                   font-family: 'Merriweather', serif;
              
}

#Registery {
            display: flex;
            justify-content: center;
            color: wheat;
            font-size: 20px;
            align-items: center;
            width: 100%;
            margin-top: 1%;
        
}

#Registarea{margin-bottom: 4%;}

#Registery #Registarea {
                         width: 46%;
                         border: 1px solid wheat;
                         display: flex;
                         flex-direction: column;
                         border-radius:2% ;
                         align-items: center;
                         transition: 0.3s border;
}

#Registery #Registarea:hover{border: solid 5px wheat;}