* {
    padding: 0;
    margin: 0;
}

#mainheader {
             text-align: center;
             font-size: 70px;
             color: whitesmoke;
             font-family: 'Merriweather', serif;


}



#bg { 
      width: 100vw;
      height: 100vh;
      position: fixed;
      filter: brightness(50%);
      z-index: -1000;

}

#sec1 { 
        width: 95%; 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

.articleheader{font-family: 'Merriweather', serif;}

.sec1article { 
               width: 95%;
               border: solid whitesmoke 1px;
               border-radius: 10px;
               color: whitesmoke;
               font-size: 23px;
               text-align: center;
               padding: 1%;
               transition: 0.3s border;
               margin-left: 3%;

}

.sec1article:hover {border:whitesmoke solid 5px;}



.sec1article p { font-size: 18px;}

#sec2 {
         width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 3%;
        margin-bottom: 1%;
}

.sec2article { 
               width: 95%;
               border:solid whitesmoke 1px;
               border-radius: 10px;
               color: whitesmoke;
               font-size: 23px;
               text-align: center;
               padding: 1%;
               transition: 0.3s border;
               margin-left: 3%;
        
}

.sec2article:hover{border: whitesmoke 5px solid;}



.sec2article p { font-size: 18px;}

h4 { font-family: 'Merriweather', serif;}

iframe {
          width: 250px;
          height: 200px;
}


